<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>Name</th>
        <th>Hotdogs Eaten</th>
        <th>Time</th>
        <th>Hotdogs per minute</th>
    </tr>
    <tr th:each="record : ${korvList}">
        <td th:text="${record.name}"></td>
        <td th:text="${record.numberOfFood}"></td>
        <td th:text="${record.time}"></td>
        <td th:text="${record.kpm}"></td>
    </tr>
</table>

</body>
</html>